<h1 mat-dialog-title>Edit Customer</h1>
<form [formGroup]="customerForm">
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>ID</mat-label>
      <input matInput formControlName="customerId" readonly >
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="customerForm.get('name')?.hasError('required')">
        El nombre es requerido
      </mat-error>
    </mat-form-field >
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Dirección</mat-label>
      <input matInput formControlName="address">
      <mat-error *ngIf="customerForm.get('address')?.hasError('required')">
        La dirección es requerida
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="customerForm.get('phone')?.hasError('required')">
        El teléfono es requerido
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-button color="primary" (click)="onSave()">Guardar</button>
  </mat-dialog-actions>
</form>
